---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: 'Vollkorn', serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$maroon-color:        #a02c2c;
$maroon-color-light:  #b43232;
$maroon-color-dark:   #641c1c;
// reg gradient: linear-gradient(#b43232, #a02c2c)
// lgt gradient: linear-gradient(#ce4b4b, #c83737)
// grey complement: #9e9ea0

// Width of the content area
$content-width:    1024px;

$on-palm:          600px;
$on-laptop:        1024px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "minima";

pre, code, kbd, samp {
  font-family: Cousine, Consolas, "Lucida Console", Monaco, monospace;
}

table, table td, table th {
  border: 1px solid black;
}

.jslghtbx-thmb {
  margin: 0.2em !important;
}

h1, h2, h3, h4, h5, h6 {
  color:    $maroon-color-light;
  font-family: 'Unica One', cursive;
}

@media screen {
  .note {
    margin: .875em 0 .875em 0;
    display: block;
  }

  .note > span {
    display: block;
    /* 16px */
    font-size: 1.14285714285714em;
    /* font-style: italic; */
    margin: .875em 0 .875em 0;
    padding: 1px .875em;
    -moz-border-radius: .35714285714286em;
    border-radius: .35714285714286em;
    background: #f7f7f7;
    border: 2px solid gray;
  }
  .project {
    background-color: $grey-color-light;
    border: 1px solid $grey-color-dark;
    padding: 15px 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    overflow: hidden;
  }
  .project img {
    display: block;
    margin-right: 10px !important;
    width: 100px;
    height: 100px;
    border: 2px solid #aaa;
    border-radius: 10px;
    margin-bottom: 5px;
  }
  .project .download {
    float: right;
  }
}

@media only screen and (min-width: 35em) {
  .project img {
    float: left;
    display: inline;
  }
  .project-description {
    margin-left: 120px;
  }
}

@media print {
  .note {
    margin: .875em 0 .875em 0;
  }
  .note {
    border: solid 1pt black;
    padding: 0 8pt;
    page-break-inside: avoid;
  }
}

a.page-link {
  padding: 8px;
}

a.page-link.active {
  background-color: $grey-color-light;
}

a.view-my-resume {
  -moz-border-radius: .35714285714286em;
  border-radius: .35714285714286em;
  border: 1px solid $grey-color-dark;
  padding: 5px 10px;
  background-color: $maroon-color-light;
  border: solid 1px $maroon-color-dark;
  color: #fff;
}

.site-header {
  border-top: none !important;
}

.post-content {
  h1 {
    font-size: 42px;
    @include media-query($on-laptop) {
      font-size: 36px;
    }
  }
}

.site-title {
  float: none !important;
}

