<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}


    <script src="{{ '/js/lightbox.min.js' | prepend: full_base_url }}"></script>
    <script>
      var options = {
        carousel:     false,
        closeOnClick: true,
        nextOnClick:  false
      };
      var lightbox = new Lightbox();
      lightbox.load(options);
    </script>
  </body>

</html>
